
body{
  padding: 2px;
  text-align:center;
    background-color:#CF2F50;
    border-radius:initial;
    border-style:solid;
    display: flex;
    margin: 2px;
    p{
        color: #6FDB75;
    }
  .Doppio {
    font-size: medium;
    color: #E6E1E7;
    font-style: oblique;
   } 
   h1{
    font-size: larger;
    color: #F6B5D5;
    text-shadow: 2cm;
    text-decoration: dotted;
   }
   .kc{
    width: 200%;
   }
   .muda {
    text-align: center;
    width: 50% ;
   }
.konodiaboroga{
width: 120%;
}
.pizzamozzarella{
  width: 120%;
}
}